/* Navbar */
#mainNav {
    background-color:
        rgba(136, 9, 33);
    font-family: Raleway;
}

#mainNav .navbar-nav .nav-item.active .nav-link:hover {
    /* ancienne color: 
    #fcc200; */
    color: #19b2e6;
}
/* Style all text w/o <h2> - font à changer*/
#txt {
    font-family: 'Bitter', serif;

}

/* CV Button - Section "Portrait"*/
.btn-primary:hover {
    background-color:
    #19b2e6;
    border-color:
    #19b2e6;
}

.btn-primary {
    background-color:
        #880921;
    border-color:
        #880921;
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:
        rgba(136, 9, 33);
}
/* Style Section "Portrait" */
/* #identity {
    font-size: 1.5em;
} */
#intro-border {
    padding: 3rem !important;
}

/* Style all <h2> */
#color-txt {
    color:
        #fff;
}

/* Section "Portfolio" */

.peax-book {
    width: 20%;
    height: auto;
    padding-top:1rem;
    float:center;
    
}

/* Section "Contact" */
.p-5 {
    padding: 1rem !important;
}
/* Footer */
.footer {
    background-color:
        rgba(136, 9, 33);
    font-family: 'Bitter', serif;
}

/* Contact icons */
#icones {
    height: 6rem;
    text-align: left;
    font-family: 'Bitter', serif;
}

#top-arrow{
    float:right;
}

/* Style all font awesome icons */
.fa {
    font-size: 1rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    background: none;
    color: #000;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

#title-txt {
    font-size: 2.5rem;   
}