/* Navbar */
#mainNav {
    background-color:
        rgba(136, 9, 33);
    font-family: Raleway;
}

#mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: 
    #fcc200;
}
/* Style all text w/o <h2> */
#txt {
    font-family: 'Bitter', serif;

}

/* CV Button - Section "Portrait"*/
.btn-primary:hover {
    background-color:
        #fcc200;
    border-color:
        #fcc200;
}

.btn-primary {
    background-color:
        #880921;
    border-color:
        #880921;
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:
        rgba(136, 9, 33);
}

/* Style name - Section "Portrait" */
#identity {
    font-size: 1.5em;
}

/* Style all <h2> */
#color-txt {
    color:
        #fff;
}

/* Style bloc "Certifications" */
#trans{
    float:left;
}

#formers {
    text-transform: lowercase;
    font-size: 0.8em;
    float:right;
    /* padding-left:0.5em;
     */
/* padding-left:15em si on retire le float:left de #trans */
}

#opquast {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    max-width: 100%;
    height: auto;
    margin-top:5em;
    margin-right:10em;
    opacity: 0.7;
}

/* Section "Portfolio" */

.peax-book {
    width: 150px;
    height: 150px;
    padding-top:10px;
}

/* #info {
    width: 150px;
    height: 150px;
    padding-top:10px;
} */
/* Footer */
.footer {
    background-color:
        rgba(136, 9, 33);
    font-family: 'Bitter', serif;
}

/* Contact icons */
#icones {
    height: 60px;
    text-align: left;
    font-family: 'Bitter', serif;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background: none;
    color: #000;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}